@import './variables';

.footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  .linkImg {
    display: flex;
    align-items: center;
    img {
      margin-right: 0.5rem;
    }
  }
}